<% include ../header%>
<div class="container">
    <div class="ui two column centered grid">
        <div class="right floated left aligned four wide column">
            <div class="ui cards">
                <div class="card">
                    <div class="content">
                        <a class=" ui green button fluid" href="/topics/create">发表话题</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="left floated  twelve wide column">
            <div class="ui bottom attached active tab segment">
                <div class="ui list">
                    <% topics.forEach(function (topic, index) { %>
                    <div class="item">
                        <a class="ui image" href="/topics/user/<%= topic.user.name %>">
                            <img src="<%= gravatar.url(topic.user.email) %>">
                        </a>
                        <div class="content">
                            <a class="header" href="/topics/<%= topic._id %>"><%= topic.title %></a>
                            <p class="topic">
                                <a href="/topics/user/<%= topic.user.name %>">
                                    <b><%= topic.user.name %></b>
                                </a>
                                发起了话题
                                •
                                <%= topic.pv %> 次浏览
                                •
                                <%= topic.comment %> 个回复
                                •
                                <%= moment(topic.updated_at).fromNow() %>
                                •
                                <%= topic.tab %>
                            </p>
                        </div>
                    </div>
                    <% if (topics.length > index + 1) { %>
                    <div class="ui divider"></div>
                    <% } %>
                    <%  }); %>
                </div>
            </div>
        </div>
    </div>
</div>

<% include ../footer%>